# docker/ dizini icin Compose degisken sablonu.
# GERCEK degerleri BU dosyaya YAZMAYIN. Repo disinda, dar ACL'li bir dosyada tutun ve
#   docker compose --env-file <yol> ...
# ile verin. Bu dizindeki .env dosyasi .gitignore ile haric tutulmustur.
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MEILI_MASTER_KEY=
