@import './base.scss';
@import './space.scss';
@import './theme.scss';
@import './typography.scss';
@import './components.scss';

html {
	scroll-behavior: smooth;
}

.container,
.page-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(black, 0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
.modal-content {
	max-width: 90%;
	max-height: 90%;
	overflow-y: auto;
	position: relative;
	min-width: 500px;
}

.loading-modal {
	z-index: 999999;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(white, 0.6);
}

div[disabled],
button[disabled] {
	pointer-events: none;
	opacity: 0.5;
}

.case-form__statement[disabled],
.case-form__case-details[disabled],
.case-form__case-utils[disabled],
.case-form__finance[disabled],
.case-form__writ[disabled],
.tasker__column[disabled],
.inpoundment-asset-card[disabled] {
	opacity: 0.15;
}

.case-fees[disabled] {
	opacity: 0.1;
}

@import './responsive.scss';
