.auth {
	background-image: url('https://images.unsplash.com/photo-1489410342162-b4b300a0bb15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	.container {
		max-width: 750px;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-self: center;
		padding: 3rem 1rem;
		border-radius: 10px;
	}
	h1 {
		margin-bottom: 2rem;
	}
}
.auth-form {
	width: 500px;
}
.header {
	z-index: 1;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: white;
	box-shadow: 0px 5px 25px rgba(black, 0.1);
	padding: 1rem;
	.container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
}
.logo {
	a {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}
	svg {
		font-size: 1.25rem;
		margin-right: 1rem;
	}
	h1 {
		font-size: 1.25rem;
	}
}
.header-user {
	display: flex;
	align-items: center;
	img {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
}
.home,
.de-facto-list,
.work-list {
	table {
		display: table;
		width: 100%;
		border-radius: 1rem;
	}
	th {
		font-weight: 600;
	}
	td,
	th {
		padding: 1rem;
	}
}
.tasks-bell {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}
.header-user-card {
	font-size: 1rem;
	margin-right: 1rem;
}
.header-user-notification {
	display: flex;
	align-items: center;
	background-color: rgba($blue, 0.15);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: $blue !important;
	font-size: 0.9rem;
	font-weight: 500;
	svg {
		margin-right: 0.5rem;
	}
}
.nav {
	display: flex;
	align-items: flex-start;
	a,
	summary,
	.btn-new-case {
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			font-size: 1.25rem;
			margin-right: 0.5rem;
		}
		color: #9d9cad;
		font-weight: 500;
		font-size: 1.1rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
	.btn-new-case {
		margin-right: 2rem;
	}
}
.content {
	background-color: $bg;
	min-height: 100vh;
	width: 100%;
	padding-bottom: 2rem;
}
.case-menu {
	position: relative;
	z-index: 2;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 1.5rem 2rem;
	border-radius: 0.25rem;
	background-color: white;
	a {
		color: $black;
	}
}
.case-menu-active {
	color: $blue !important;
	font-weight: bold;
}
.case-form {
	display: flex;
}
.case-form__content {
	width: calc(100% - 400px);
	background-color: #f7f8fa !important;
	padding: 0 !important;
}
.case-form__statement {
	position: relative;
	z-index: 1;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 1rem;
	border-radius: 0.55rem;
	background-color: #f8f9ff;
	padding: 2rem;
	width: 400px !important;
	margin-left: 2rem;
	transition: all ease 0.5s;
	.teacher {
		top: 0;
		bottom: unset;
		left: -520px;
		max-width: 500px;
		width: unset;
	}
}
.case-form__details,
.case-form__execution-office,
.case-form__persons,
.case-form__finance {
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
}
.case-form__details {
	align-items: flex-start;
}
.case-form__case-details {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	width: 40%;
	margin-right: 1rem;
	border-radius: 0.25rem;
	background-color: white;
	position: relative;
}
.case-form__case-utils {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	position: relative;
	padding: 1rem;
	width: 50%;
	border-radius: 0.25rem;
	background-color: white;
}
.case-form__lawyers,
.case-utils {
	border-radius: 0.25rem;
}

.case-utils {
	width: 100%;
	&:not(:nth-child(2n)) {
		margin-right: 1rem;
	}
}
.case-form__dues,
.case-form__payments {
	background-color: white;
	width: 50%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border-radius: 0.25rem;
	span {
		font-weight: 500;
	}
}
.case-dues {
	position: relative;
	overflow: visible;
	.teacher {
		bottom: 0 !important;
		left: -5rem;
	}
}
.case-form__dues {
	margin-right: 1rem;
}
.case-form__commitments {
	.case-form__modal {
		width: 700px;
	}
}
.case-form__writ {
	background-color: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}
.form-modal {
	min-width: 50vw;
	background-color: white;
	border-radius: 0.25rem;
	padding: 2rem;
	max-height: 90vh;
	overflow-y: auto;
	z-index: 999;
}
.case-form__modal {
	background-color: white;
	border-radius: 0.5rem;
	padding: 2rem;
	width: 1000px;
}
.case-form__modal__lawyer {
	justify-content: space-between !important;
	width: 100%;
	font-size: 1rem;
	border-radius: 0.25rem;
	padding: 1rem 0 !important;
	p {
		font-weight: 500;
	}
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}
.case-details-item {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
.case-details-item__body {
	justify-content: space-between !important;
	width: 100%;
	font-size: 1rem;
	border-radius: 0.25rem;
	padding: 1rem !important;
	background-color: white;
	p {
		font-weight: 500;
	}
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}
.new-client-form {
	max-width: 1000px;
	width: 90vw;
	padding: 2rem;
	z-index: 10;
	.input {
		// background-color: #f6f6f6;
	}
}

.case-util-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #eee;
	span {
		font-weight: 600;
	}
}
.new-util-form,
.court {
	.input-container,
	select {
		background-color: white;
	}
}
.settings-container {
	padding-top: 2rem;
	display: flex;
	align-items: flex-start;
}
.settings-menu {
	width: 200px;
	.btn {
		font-size: 1.25rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}
}
.settings-content {
	width: calc(100% - 200px - 5rem);
	margin-left: 5rem;
}
.setting-item__button {
	justify-content: flex-start !important;
	align-items: center;
	font-size: 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	width: 100%;
	position: relative;
	box-shadow: 0 1px 3px rgba(#000000, 0.1);
}
.setting-item__content {
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-top: -2rem;
	margin-bottom: 2rem;
	z-index: -1;
	.btn-fixed {
		right: 1rem;
	}
}

.permission-user {
	border-left: 3px solid $blue;
	padding-left: 0.5rem;
	margin-bottom: 0.5rem;
}

.task-card {
	font-size: 0.9rem;
	background-color: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	a {
		font-size: 0.9rem;
	}
}
.task-card__closed {
	button,
	a {
		display: none;
	}
}

.tasker {
	z-index: 99999;
	position: fixed;
	right: 0;
	bottom: 0;
	border-radius: 0.5rem;

	h2 {
		font-size: 1.25rem;
		margin-right: 1rem;
	}
	.case-form__modal {
		position: fixed;
		right: 0;
		bottom: 0;
		background-color: transparent;
		height: 100vh;
		width: auto;
		padding: 0 1rem;
	}
	.zekiye-btn {
		position: absolute;
		bottom: 2rem;
		right: 2rem;
	}
}
.tasker-list {
	width: 550px;
	position: absolute;
	right: 0;
	bottom: 10rem;
	height: calc(100vh - 10rem);
	overflow-y: auto;
}

.case-notification-details__debtor {
	border-radius: 0.25rem;

	font-size: 1rem;
	background-color: white;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	width: 100%;
	position: relative;
	box-shadow: 0 1px 3px rgba(#000000, 0.1);
}
.case-notification-details__debtor-header {
	background-color: #eee;
}

.inpoundments-menu,
.inpoundment-assets,
.inpoundment-queries {
	border-radius: 0.5rem;
}
.inpoundments-content {
	display: flex;
	justify-content: space-between;
}
.inpoundment-assets {
	margin-left: calc(400px + 2rem);
	padding: 2rem;
	background-color: white;
	width: 100%;
	transition: all ease 0.5s;
}

.inpoundment-queries {
	position: fixed;
	z-index: 1;
	width: 400px;
	overflow-y: auto;
	transition: all ease 0.5s;
	background-color: white;
	padding: 1rem;
}
.inpoundment-queries__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// background-color: rgba($blue, 0.15);
	color: $blue;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid $bg;
	margin-bottom: 1.5rem;
}
.inpoundment-queries__list {
	// box-shadow: 0px 5px 25px rgba(black, 0.1);
	background-color: white;
	border-radius: 0.5rem;
}
.inpoundment-asset-card,
.inpoundment-query {
	background-color: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border-radius: 0.5rem;
}
.inpoundments-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.inpoundment-asset-card {
	margin-bottom: 1rem;
}
.inpoundment-query {
	margin-bottom: 1rem;
	background-color: $bg;
}
.step-line {
	width: 100%;
	height: 0.1rem;
	background-color: $blue;
}

.step {
	border-radius: 0.5rem;
	padding: 1rem;
}
.step-item-divider {
	background-color: #eee;
	height: 1px;
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.step-completed {
	border-color: $green;
	* {
		color: $green !important;
	}
	padding: 0.75rem;
}
.received-assets {
	.step-completed {
		border: none !important;
	}
	.step {
		border: none;
	}
}
.restrictions {
	::-webkit-scrollbar {
		height: 10px;
	}
}
table {
	width: 100%;
	display: table;
	overflow-x: auto;
	white-space: nowrap;
	border-collapse: collapse;
	padding-bottom: 1rem;
}

td,
th {
	border: 1px solid $bg;
	text-align: left;
	padding: 8px;
	font-weight: 400;
	font-size: 0.9rem;
}
th {
	font-weight: 600;
}
tr:nth-child(even):not(:last-child) {
	background-color: $bg;
}

.creditor-list {
	position: absolute;
	background-color: white;
	z-index: 9;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 0.75rem;
	top: 2.5rem;
	height: 10rem;
}

.inpoundment-sale-day {
	padding-left: 1rem;
	// border-left: 3px solid $blue;
}

.inpoundment-sale-request,
.court {
	background-color: $bg;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 2rem;
}
.court {
	background-color: $bg;
}

.de-facto,
.bank-query-list {
	// display: flex;
	align-items: flex-start;
	width: 100%;
}
.de-facto__menu {
	margin-top: 2rem;
	margin-bottom: 2rem;
	button:not(.blue) {
		color: #9d9cad;
	}
	button {
		border-bottom: 1px solid #eee;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		transition: all ease 0.25s;
	}
	.blue {
		border-bottom: 2px solid $blue;
	}
}
// .de-facto__content,
// .bank-query-list__content {
// 	width: calc(100% - 400px - 2rem);
// }
// .de-facto__sidebar,
// .bank-query-list__sidebar {
// 	width: 400px;
// 	margin-left: 2rem;
// }
.de-facto__address {
	padding: 1rem;
	box-shadow: 0 1px 3px rgba(black, 0.1);
	background-color: white;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
}
.de-facto__address-selected {
	border: 1px solid $blue;
}
.de-facto__asset-form {
	width: 100%;
	background-color: white;
	box-shadow: 0 1px 3px rgba(black, 0.1);
	border-radius: 0.25rem;
	padding: 2rem;
}
.de-facto__table {
	display: flex;
	flex-direction: column;
	div {
		border: 1px solid #eee;
		display: flex;
		align-items: center;
		p {
			padding: 0.5rem;
			&:not(:last-child) {
				padding-right: 0.5rem;
				border-right: 1px solid #eee;
			}
		}
	}
}
.de-facto__day {
	background-color: white;
	border-radius: 0.5rem;
}

.company-list {
	.creditor-list {
		top: 1.5rem;
	}
}
.edit-hover {
	display: none !important;
}
.restriction-raw {
	&:hover {
		.edit-hover {
			display: flex !important;
		}
	}
}
.edit-raw {
	background-color: white !important;
}

.third-person {
	width: 100%;
	border-bottom: 1px solid #eee;
	justify-content: flex-start !important;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

.note {
	display: flex;
	align-items: center;
	svg {
		color: #0d174a;
		margin-right: 0.5rem;
	}
	background-color: #f1f2f4;
	color: #0d174a;
	font-size: 0.9rem;
	padding: 0.75rem;
	border-radius: 0.25rem;
}

.note-success {
	background-color: $green;
	// box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.05);
	&,
	svg {
		color: white;
	}
}

.note-warn {
	background-color: white;
	border-bottom: 2px solid #ffcc00;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.05);
	svg {
		color: #ffcc00;
	}
}

.note-error {
	background-color: rgba($red, 0.25);
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.05);
	font-weight: 500;
	&,
	svg {
		color: $red;
	}
}

.case-task-button {
	background-color: #f1f2f4;
	padding: 0.5rem;
	border-radius: 0.25rem;
	font-weight: 500;
}
.case-task-button__active {
	background-color: rgba($blue, 0.15);
	color: $blue !important;
	border-radius: 0.25rem;
	font-weight: 500;
}

.badge {
	background-color: rgba($blue, 0.15);
	color: $blue !important;
	border-radius: 0.25rem;
	font-weight: 500;
	padding: 0.25rem;
}
.badge-cyan {
	background-color: #7ac2e1;
	color: white;
	border-radius: 0.25rem;
	font-weight: 500;
	padding: 0.25rem 0.5rem;
}
.printer-item {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	button {
		margin-right: 1rem;
	}
}
.current-task {
	position: fixed;
	left: calc(250px);
	top: 0;
	box-shadow: 0 1px 3px rgba(black, 0.1);
	width: calc(100% - 250px);
	padding-left: 3rem;
}

.btn-fixed {
	position: fixed;
}
.custodian-info {
	border-radius: 0.5rem;
	box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
		0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.custodian-info__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #dadce0;
}
.custodian-info__content {
	padding: 1rem;
}
// .custodian-info__closed {
// 	.custodian-info__header {
// 		border-left: 3px solid $blue !important;
// 		border-top-left-radius: 0.5rem;
// 		border-bottom-left-radius: 0.5rem;
// 	}
// }
.printer-panel {
	background-color: white;
	width: 1000px;
	padding: 1.5rem;
	border-radius: 1rem;
}
.printer-panel__body {
	display: flex;
	justify-content: space-between;
}
.printer-panel__item {
	width: 30%;
}
.notification-address {
	flex-direction: column;
	align-items: flex-start !important;
	padding: 1rem;
	border: 1px solid #eee;
	border-radius: 0.5rem;
	width: 100%;
	margin-top: 1rem;
}
.notification-address__selected {
	border-color: rgba($blue, 0.75);
	border-width: 2px;
}
.notification-type-list {
	display: flex;
	justify-content: space-between;
}
.notification-type {
	background-color: white;
	border: 1px solid #eee;
	width: 30%;
	padding: 1rem;
	border-radius: 0.5rem;
	font-weight: 500;
	border: 1px solid #eee;
}
.notification-type__selected {
	// background-color: $blue;
	// color: white;
	// box-shadow: 0 1px 3px rgba($blue, 0.2);
	border-color: rgba($blue, 0.75);
	border-width: 2px;
}

.stepper {
	justify-content: space-between;
	align-items: center;
	text-align: center;
	.completed {
		font-weight: 500;
		color: $green;
		.banner {
			border-color: $green;
		}
		.banner {
			color: $green;
		}
	}
	.step-item-divider {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.stepper-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	.banner {
		border: 1px solid #eee;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.inpoundment-panel {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 2rem;
	transition: all ease 0.5s;
}

.debtor-select {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding: 1rem;
	border-radius: 0.25rem;
	background-color: white;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.05);
	margin-bottom: 1rem;
}
.inpoundment-card-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.inpoundment-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
	justify-content: flex-start !important;
	white-space: pre-wrap;
	text-align: left;
	font-size: 0.9rem;
	background-color: rgba($orange, 0.1);
	color: $orange !important;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	transition: all ease 0.25s;
	width: 24%;
	&:hover {
		box-shadow: none;
	}
}

.tasker-page {
	max-height: 100vh;
	overflow: hidden;
	background-color: white;
	border-radius: 0.5rem;
	padding: 2rem;
	margin-top: 2rem;
}
.tasker-page__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tasker__column-list {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	margin-right: 2rem;
	overflow: auto;
	height: 90vh;
}

.tasker__column {
	flex: 0 0 auto;
	width: 400px;
	padding-right: 1rem;
	margin-right: 2rem;
	h3 {
		font-size: 1rem;
	}
}
.tasker__column__task-list {
	max-height: 80vh;
	width: 100%;
	overflow-y: auto;
	padding-right: 0.5rem;
}
.general-tasker__task {
	background-color: #f4f7f9;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	transition: all ease 0.25s;
	cursor: pointer;
}
.general-tasker__yellow {
	border-left: 5px solid $yellow;
}

.general-tasker__red {
	border-left: 5px solid $red;
}

.general-tasker__green {
	border-left: 5px solid $green;
}

.general-tasker__gray {
	border-left: 5px solid #eee;
}

.general-tasker__blue {
	border-left: 5px solid $blue;
}

.zekiye,
.case-inpoundment-details {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
	padding-bottom: 1rem;
}
.zekiye-header {
	box-shadow: 0px 5px 10px rgba(black, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	h1 {
		font-size: 1.15rem;
		font-weight: 600;
	}
}
.zekiye-header__nav {
	display: flex;
	align-items: center;
}
.case-details-banner {
	background-color: white;
	// box-shadow: 0 7px 14px rgba(0, 0, 0, 0.025), 0 5px 5px rgba(0, 0, 0, 0.025);
	width: 100%;
	padding: 2rem;
	border-radius: 0.5rem;
	font-weight: 600;
	font-size: 1.1rem;
	display: flex;
	flex-direction: column;
	svg {
		margin-bottom: 1rem;
		font-size: 1.25rem;
	}
	&:not(:last-child) {
		margin-right: 2rem;
	}
	&:nth-child(1) {
		background-color: #f0f4ff;
	}
	&:nth-child(2) {
		background-color: #eefcef;
	}
	&:nth-child(3) {
		background-color: #e5f5f9;
	}
	&:hover {
		box-shadow: none;
	}
}

.zekiye-banner,
.note-zekiye {
	display: flex;
	align-items: center;
	background-color: #fee4cb;
	padding: 1rem;
	border-radius: 0.5rem;
	font-weight: 500;
	color: #434645;
	p {
		width: calc(100% - 2rem -1rem);
	}
}

.note-zekiye {
	width: 100%;
	white-space: pre-wrap;
}

.zekiye-btn,
.zekiye-banner,
.note-zekiye,
.task-desk__welcome {
	.fit-bg {
		border: 2px solid #fc9263;
		box-shadow: 0 7px 14px rgba(0, 0, 0, 0.025), 0 5px 5px rgba(0, 0, 0, 0.025);
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		background-image: url('https://images.pexels.com/photos/1587009/pexels-photo-1587009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	}
}

.zekiye-btn {
	color: white;
	font-weight: 600;
	border-radius: 0.25rem;
	position: absolute;
	bottom: 0;
	right: 0;
	.fit-bg {
		box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.05);
		width: 4rem !important;
		height: 4rem !important;
	}
	p {
		margin-left: 0.5rem;
		font-size: 0.9rem;
	}
}

.note-zekiye {
	.fit-bg {
		margin-right: 1rem;
	}
}

.task-desk {
	background-color: white;
	padding: 2rem;
	border-radius: 1rem;
	height: 80vh;
}
.task-desk__welcome {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.fit-bg {
		width: 5rem !important;
		height: 5rem !important;
	}
	.btn-zekiye {
		background-color: $orange;
		color: white;
		padding: 1rem 2rem;
		border-radius: 0.25rem;
		font-weight: 600;
		margin-top: 2rem;
	}
}

.task-desk__form {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
}

.task-operation-messages {
	padding: 1rem;
	position: fixed;
	right: 1rem;
	top: 1rem;
	max-width: 500px;
	overflow-y: auto;
	max-height: 50vh;
	z-index: 12;
}
.task-operation__message {
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.025), 0 5px 5px rgba(0, 0, 0, 0.025);
	background-color: white;
	border-radius: 0.5rem;
	padding: 1rem;
	font-size: 0.9rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
}
.form-modal .intel,
.form-modal .debtor-notifications {
	max-width: 90vw;
	width: 1100px;
	background-color: white;
	background-color: $bg;
}
.intel {
	padding: 1.5rem;
	border-radius: 0.5rem;
	width: 100%;
	background-color: rgba($purple, 0.1);
}

.intel-part {
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	.step-item-divider {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.teacher {
	position: absolute;
	bottom: -9rem;
	left: 0;
	opacity: 1;
	z-index: 1;
}

.debtor {
	display: flex;
	align-items: flex-start;
	.general-tasker__task {
		background-color: white;
	}
	.tasker__column {
		margin-right: 0;
		padding-right: 0;
	}
}
.debtor-details {
	width: calc(100% - 400px - 2rem);
	padding: 1rem;
	margin-right: 2rem;
	border-radius: 0.25rem;
	background-color: white;
}
.debtor-list {
	width: 400px;
	border-radius: 0.25rem;
	position: fixed;
	right: 5%;
	overflow-y: auto;
	max-height: 80vh;
}

.debtor-notifications {
	background-color: $bg;
	padding: 1.5rem;
	border-radius: 0.5rem;
}
.debtor-notifications-card {
	background-color: rgba($yellow, 0.2);
}
.case-execution-offices {
	.note-zekiye {
		position: absolute;
		left: 105%;
		z-index: 10;
		width: 500px;
	}
}

.court-list-banner {
	background-color: rgba($blue, 0.1);
	padding: 1.5rem;
	border-radius: 0.5rem;
}

.focus {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(black, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
}
.focus {
	.note-zekiye {
		position: fixed;
	}
}

.bank-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	button {
		width: 32%;
	}
}

.normal-asset-modal {
	width: 90vw;
	height: 90vh;
	background-color: white;
	border-radius: 1rem;
	padding: 2rem;
	overflow-y: auto;
	z-index: 999;
}

.work-list {
	width: 95%;
	margin: auto;
	padding: 3rem 0;
	h2,
	h3 {
		margin-bottom: 1rem;
	}
}

.multi-select-modal {
	background-color: white;
	padding: 2rem;
	border-radius: 1rem;
}

.de-facto-intel-actions {
	position: absolute;
	top: 100%;
	background-color: white;
	padding: 1rem;
	box-shadow: 0px 5px 25px rgba(black, 0.1);
	border-radius: 0.5rem;
	z-index: 1;
}

.cases-row,
.work-list-row {
	&:hover {
		background-color: #eee !important;
	}
}

.parties-page {
	h1 {
		font-size: 1.5rem !important;
	}
}

.parties-form {
	width: 1000px;
	background-color: white;
	border-radius: 0.5rem;
	padding: 2rem;
}
