@media screen and (max-width: 1280px) {
	.pricing-item {
		width: 48%;
	}
}
@media screen and (max-width: 1280px) {
	.pricing-list {
		display: none;
	}
	.pricing-list__router {
		display: flex;
	}

	.pricing-item__mobile {
		display: flex;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.pricing-item:nth-child(2) {
		.pricing-filter {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			background: transparent;
			color: black;
			a {
				border: 2px solid #444444;
				color: #444444;
				&:hover {
					background-color: #444444;
					color: white;
					border: 2px solid #444444;
				}
			}
		}
	}
	.pricing-item__hero {
		.pricing-filter {
			color: white !important;
			background: linear-gradient(
				-180deg,
				rgba(242, 158, 161, 0.9) 10.16%,
				rgba(86, 86, 223, 0.8) 89.45%
			) !important;
			a {
				color: white !important;
				border: 2px solid white !important;
				&:hover {
					background-color: #f29ea1 !important;
					color: white !important;
					border-color: #f29ea1 !important;
				}
			}
		}
	}
}
@media screen and (max-width: 900px) {
	.logo {
		line-height: 2rem;
	}
	.navbar-router {
		display: none;
	}
	.navbar__mobile {
		display: flex;
	}
	.photo-list {
		column-count: 2;
	}
}
@media screen and (max-width: 800px) {
	.pricing-item__mobile {
		width: 90%;
	}
}
@media screen and (max-width: 680px) {
	.service-item__large {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		flex-direction: column !important;
	}
	.service-item__large__img {
		width: 100%;
		margin: 0 !important;
	}
	.service-item__large__content {
		text-align: center;
		width: 100%;
		margin-top: 1rem;
	}
	.footer__social-links {
		display: flex;
		flex-direction: column;
		margin-left: 1.5rem;
		a:nth-child(1) {
			margin-right: 0;
			margin-bottom: 1rem;
		}
	}
}
@media screen and (max-width: 576px) {
	.hero {
		.container {
			h1 {
				font-size: 4rem;
				line-height: 5rem;
			}
			p {
				margin-left: 2rem;
				margin-right: 2rem;
			}
		}
	}
	.photo-list {
		column-count: 1;
	}
}
@media screen and (max-width: 450px) {
	.hero {
		.container {
			h1 {
				font-size: 3rem;
				line-height: 4rem;
			}
			p {
				font-size: 1rem;
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}
	}
	.service-item__large__img {
		width: 100%;
		height: 10rem;
	}
	.services-list {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.service-item {
		width: 100% !important;
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
	.pricing-item__mobile {
		width: 95%;
	}
}
